* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto',
        sans-serif;
    background: #efefef;
}

img {
    vertical-align: top;
}

.mg-b {
    margin-bottom: 10px;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

.header-top {

    background-color: #1ba8ff;
    height: 50px;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.header-bg img {
    width: 100%;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.bar {

    display: inline-block;
    position: relative;
    top: 2px;
    font-size: 20px;
}

.header-top i {
    color: white;


}

.shoppingcart {
    /* width: 10%; */
    display: inline-block;
    text-align: right;
    position: relative;
    top: 2px;
    font-size: 20px;
    /* margin-left: 22px; */
}

.search {
    width: 77%;
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0 12px;
}

.text-input {
    line-height: 30px;
    padding: 0px 34px;
    border-radius: 3px;
    border: 0;
    width: 100%;
}

.btnsearch {
    position: absolute;
    border: 0;
    background: transparent;
    top: 6px;

}

.btnsearch i {
    color: #949294;

}

.box-ads img {
    width: 100%;
}

.list {
    margin-bottom: 10px;
    white-space: nowrap;

}

/* danh muc san pham */
.list-product {

    white-space: nowrap;
}

.list-product .list-deal {
    white-space: nowrap;
    overflow-y: auto;
}

.text-event {
    float: left;
    width: 74%;
    line-height: 23px;
}

.title-list a {
    display: block;
    float: right;
    text-decoration: none;
    color: #1ba8ff;
    font-size: 13px;

}


.bg {
    background: white;
}

.title-list span {
    display: block;
    float: left;
    font-weight: 600;


}

.list-first {
    overflow-y: auto;
}

.list-header {
    padding: 12px 16px;
    font-size: 15px;
}

.list-first .item {
    width: calc(100%/3);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    padding: 0px 8px;
    white-space: normal;
}

.item span {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #fa6109;
    margin-top: 7px;
    width: 100%;
}

.content-service {
    white-space: nowrap;
    margin: 0px 0px 12px;

}

.content-service .item span {
    white-space: normal;
    display: block;
    font-size: 13px;
    line-height: 20px;
    color: rgb(120, 120, 120);
    margin: 8px 0px 0px;
}

.content-service .list {
    padding-bottom: 10px;
    overflow-y: auto;
}

.content-service .item {
    width: 112px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0px 8px;
    text-decoration: none;
}

.content-service img {
    width: 66px;

}

.box-app {
    padding: 10px;
    position: relative;
}

.box-app .item {
    float: left;
}

.box-app .bb {
    width: 50%;
    float: left;
    font-size: 14px;
    padding: 12px 0 0 10px;
    color: #313431;

}

.btn-app {
    float: right;
    position: relative;
    padding-top: 12px
}

.image {
    float: right;
}

.btnapp {
    background: #ff414a;
    color: white;
    border: 0;
    padding: 7px;
}

/*
.box-event .item {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

/* .box-event span .text {
    width: 65%;
    float: left;
    font-size: 14px;
    padding: 0 0 0 15px;
    color: #313431;
} */

.box-event .icon {
    float: right;
    padding-top: 12px
}

.box-event i {

    font-size: 20px;
    color: #1ba8ff;
}

/* .box-event .text {
    font-weight: 500;
    margin-bottom: 5px;
    color: #313431;
    text-align: start;
} */

.box-event .subtext {
    color: #8c8a8c;
    /* width: 50%; */
    float: left;
    font-size: 13px;
    padding: 0 0 0 10px;
    text-align: start;
}

.box-event .text {
    color: #8c8a8c;
    /* width: 50%;
    float: left; */
    font-size: 14px;
    padding: 0 0 0 10px;
    color: #313431;
}

.box-mostsearch {
    overflow-x: auto;
    margin-bottom: 10px;
}

.mostsearch {
    padding: 0px 10px;
    white-space: nowrap;
    margin-bottom: 12px;

}

.mostsearch a {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    margin: 0px 4px 0px 4px;
    padding: 10px;
    text-decoration: none;
    color: #8c8a8c;
    display: inline-block;
    font-size: 13px;

}

.mostsearch span {
    margin-left: 10px;
}



.list-deal .item {
    text-decoration: none;
    display: inline-block;
    padding: 12px 16px;
    width: 100%;
    text-align: center;
}



.list-deal .name {
    font-size: 13px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    color: #333333;
    white-space: normal;
}

.list-deal .price {
    color: #ff427a;

}

.list-deal ul li {
    width: calc(100%/2);
    display: block;
    float: left;

}

.list-deal .list-price {
    font-size: 11px;
    line-height: 16px;
    color: rgb(120, 120, 120);
    display: inline-block;
    text-decoration: line-through;
}

.list-deal .discount {
    font-size: 11px;
    line-height: 16px;
    display: inline-block;
    margin-left: 4px;
    font-weight: 500;
    color: rgb(51, 51, 51);
}

.btn-deal {
    padding: 0px 16px 12px;
}

.btn-deal .btnsee {
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    color: #fc424e;
    text-align: center;
    display: block;
    text-decoration: none;
    height: 44px;
    line-height: 44px;
    font-weight: 600;
    background: #f2f2f2;
}

img {
    max-width: 100%;
}

.wraper {
    float: left;
    width: 50%;
}

.wraper .app {
    margin: 16px 0 0 0;
}

.wraper .title {
    font-size: 14px;
    color: #313431;
}

.wraper button {
    background: #ff414a;
    color: white;
    border: 0;
    padding: 7px 34px;
}

footer {
    padding: 50px 16px;
}

.title-footer {
    text-align: center;

}

.content-footer {
    width: 100%;
    float: left;
    /* display: -webkit-box; */
    margin: 20px 0;
}

.content-footer .item {
    width: calc(100%/3);
    float: left;
    position: relative;

}

.content-footer .item i {

    left: 35px;
    top: 14px;
    font-size: 30px;
    text-align: center;
    display: block;
}

.content-footer span {
    float: left;
    font-size: 11px;
    color: #949294;
    /* padding: 46px 14px 33px 4px;
    margin: 8px 0px 0px; */
}

.ft button {
    width: 100%;
    background: #ff414a;
    color: white;
    border: 0;
    padding: 7px;
}


/*
This is for sm

*/
@media (min-width: 320px) {
    .list-product-see .item {
        width: 50%;
    }
}

@media (min-width: 576px) {
    .list-product-see .item {
        width: calc(100%/5 + 7px);
    }

    .bar {
        display: inline-block;
        margin-right: 10px
    }

    .search {
        width: 91%;
        display: inline-block;
        position: relative;
        text-align: center;
        margin: 0 2px;
    }

    .shoppingcart {
        /* width: 10%; */
        display: inline-block;
        text-align: right;
        position: relative;
        top: 2px;
        font-size: 20px;
    }

    .header-top .shoppingcart i {
        margin-left: 9px;
    }

    .text-event {
        width: 90%;
        float: left;
    }

    .box-event .text {
        font-size: 14px;
        padding: 0 0 0 15px;
        color: #313431;
        text-align: start;
    }

    .box-event .subtext {

        font-size: 14px;
        padding: 0 0 0 15px;
        text-align: start;
        display: block;
        float: none;

    }

    .btn-app {
        float: right;
        position: relative;
        padding-top: 15px
    }

    .box-app .bb {
        text-align: center;
        width: 70%;
        font-size: 14px;
        padding: 21px 0 0 10px;
        color: #313431;
    }


    .wraper {
        float: left;
        width: 50%;
        margin-top: 15px;
    }

    .wraper .app {
        margin: 14px 0 0 0;
    }

    .item span {

        display: block;
    }

    .list-first .item {
        width: calc(100%/4);
    }

    .ft .content-footer span {
        float: none;
        font-size: 11px;
        color: #949294;
        display: block;
    }
}

/*
This is for md
*/
@media (min-width: 768px) {
    .list-product-see .item {
        width: calc(100%/5 + 7px);
    }

    .bar {
        display: inline-block;
        margin-right: 10px
    }

    .search {
        width: 91%;
        display: inline-block;
        position: relative;
        text-align: center;
        margin: 0 2px;
    }

    .shoppingcart {
        /* width: 10%; */
        display: inline-block;
        text-align: right;
        position: relative;
        top: 2px;
        font-size: 20px;
    }

    .header-top .shoppingcart i {
        margin-left: 9px;
    }

    .btnapp {
        background: #ff414a;
        color: white;
        border: 0;
        padding: 7px;
    }

    .box-app .bb {
        width: 78%;
        float: left;
        font-size: 14px;
        padding: 20px 0 0 10px;
        color: #313431;
        text-align: center;
    }

    .text-event {
        width: 90%;
        float: left;
    }

    .box-event .text {
        font-size: 14px;
        padding: 0 0 0 15px;
        color: #313431;
        text-align: start;
    }

    .box-event .subtext {

        font-size: 14px;
        padding: 0 0 0 15px;
        text-align: start;
        display: block;
        float: none;

    }

    .wraper {
        float: left;
        width: 50%;
        margin-top: 15px;
    }

    .wraper .app {
        margin: 14px 0 0 0;
    }

    .item span {

        display: block;
    }

    .list-first .item {
        width: calc(100%/6);
    }

    .ft .content-footer span {
        float: none;
        font-size: 11px;
        color: #949294;
        display: block;
    }

}


/*
This is for lg
*/
@media (min-width: 992px) {}


/*
This is for xl
*/
@media (min-width: 1024px) {}